$primary-orange: var(--primary-orange);
$dark-blue: var(--dark-blue);
$blue-gray: var(--blue-gray);
$light-gray: var(--light-gray);
$white: var(--white);

$mw1520: 1520px;










$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;

$border-radius: 15px;
$header-height: 40px;

