header { 
  width: 100%;
}

.header-container{
  @include flex-between;
  max-width: $mw1360;
  margin: 0 auto;
  height: 40px;
}

.logo {
  display: block;
  height: 40px;
  transition: 0.4s ease-in-out;
}

.logo:hover {
  transform: translateY(-2px);
}

.profile_photo {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

nav {
  font-size: $bs;
  font-weight: 500;
  text-align: center;
  display: flex;
  gap: 40px;
  transition: 0.4s ease-in-out;
}

.user_block {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.user_info {
  @include flex-center;
  gap: 10px;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}

.user_info:hover{
  transform: translateY(-2px);
}

.namelabel {
  color: $gray;
  font-size: $sm;
  font-weight: 400;
  max-width: 88px;
  overflow-wrap: break-word;
  min-width: 0;
}

.menu_btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  @include flex-center;
}

.menu_btn img {
  width: 20px;
  height: 20px;
}

.menu_btn:hover {
  opacity: 0.5;
}

.dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background: $white;
  border-radius: $border-radius;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  z-index: 100;
}

.dropdown-item {
  width: 100%;
  padding: 12px 16px;
  border-radius: $border-radius;;
  display: flex;
  align-items: center;
  gap: 4px;
}

.dropdown-icon{
  height: 20px;
}

.dropdown-item:hover {
  background: #fff4ec;
}

.dropdown-text{
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-family: $font;
  font-weight: 500;
  font-size: $bs;
  color: $blue;
}

nav a.router-link-exact-active {
  color: $orange;
}

nav a:hover{
  transform: translateY(-2px);
}

@media (max-width: 1440px) {
  .header-container{
    max-width: $mw1200;
  }
}

