@import './base.css';

#app {
  width: 100%;
  padding-top: 2rem;
}

#main{
  max-width: 1520px;
  margin: 0 10rem;
}

a{
  text-decoration: none;
  color: var(--dark-blue);
  transition: 0.4s ease-in-out;
  padding: 2px;
}

h1 {
  margin-bottom: 2rem;
  font-size: 28px;
  font-weight: 700;
}

h2{
  font-size: 20px;
  font-weight: 600;
  color: var(--blue-gray)
}

.mb1{
  margin-bottom: 0.5rem;
}

.themed-container{
  background: white;
  border-radius: 15px;
  border: 1px solid var(--light-gray);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

@media (hover: hover) {
  a:hover {
    color: var(--primary-orange);
    transform: translateY(-4px);
    transition: 0.4s ease-in-out;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }
}
